* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-dark: #222330;
  --primary-light: #ff6162;
}

.header {
  box-sizing: border-box;
  background-color: var(--primary-dark);
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-video {
  width: 100%;
}